// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-bottom: 30px;
}






